body {
  margin: 0;
  padding: 0;
  background-color: #d6c5a7;
  font-family: "Alegreya", serif;
}

h1 {
  font-size: 400;
}

#nav-bar {
  width: 100vw;
  height: 40px;
  background-color: #828e80;
}

#cat-logo {
    width: 35px;
    padding: 2px;
    
}